@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;
	0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "all_mixing/net_mixing";

body{
	padding:0;
	margin:0;
	font-family: 'Titillium Web', sans-serif;
}

.home{
	background:url("../image/background.jpg") no-repeat center center;
	background-size:cover;
	width:100%;
	height:405px;
	.ho{
		background:rgba(0,0,0,0.4);
		width:100%;
		height:405px;
		.navbar{
			display:flex;
			justify-content:space-between;
			align-items:center;
			padding-top:50px;
			.limaja{
				img{
					width:134px;
					height:70px;
				}
			}
			.icon{
				ul{
					list-style:none;
					padding-left:0;
					display:flex;
					align-items:center;
					li{
						padding-left:40px;
						color:white;
						i{
							font-size:25px;
							cursor:pointer;
							transition:0.2s;
							&:hover{
								color:#ccc;
							}
							&{
								@include breakpoints(medium) {
									font-size: 35px;
								}
							}
						}
						&.oo{
							@include breakpoints(medium) {
								display:none;
							}
						}
						&.gio{
							display:none;
							@include breakpoints(medium) {
								display:block;
							}
						}
					}
				}
			}
		}
	}
}


.validation{
	margin-top:-200px;
	padding-bottom:40px;
	h2{
		color:white;
		font-weight:600;
		font-size:28px;
	}
	.hr{
		color:white;
	}
	h4{
		font-size:18px;
		font-weight:600;
		color:white;
		display:flex;
		align-items:center;
		margin-bottom:20px;
		span{
			color:#FFCA00;
			font-size:20px;
		}
		i{
			font-size:10px;
			margin: 0 10px;
		}
	}
	.sender{
		border:1px solid #ccc;
		box-shadow: 0px 0px 6px 0px #ccc;
	    background:#fff;
		.left{
			background:#EEF0F3;
			padding:40px 20px;
			&{
				@include breakpoints(medium) {
					display:flex;
					justify-content:space-between;
				}
			}
			.adn{
				align-items:center;
				span{
					width:15px;
					height:15px;
					background:$blue;
					border-radius:100%;
					position:relative;
					&:after{
						position:absolute;
						content:"";
						height: 55px;
					    width: 3px;
					    top: 15px;
					    left: 6px;
						background:#DEE2E6;
					}
				}
				p{
					font-size:20px;
					font-weight:600;
					margin-bottom:0;
					margin-left:20px;
					color:black;
				}
			}
			.adr{
				align-items:center;
				margin-top:40px;
				span{
					width:15px;
					height:15px;
					background:white;
					border-radius:100%;
				}
				p{
					font-size:20px;
					font-weight:600;
					margin-bottom:0;
					margin-left:20px;
					color:#ADB5BD;
				}
			}
			.pijama{
				.statu{
					display:block;
					p{
						font-size:15px;
						font-weight:600;
						color:gray;
						margin-bottom:0;
					}
					span{
						font-size:16px;
						font-weight:700;
						color:rgba(0,0,0,0.8);
					}
				}
			}
			.web{
				&{
					@include breakpoints(medium) {
						display:none;
					}
				}
			}
			.responsive{
				display:none;
				&{
						@include breakpoints(medium) {
						display:block;
					}
				}
			}
		}
		.right{
			padding:40px;
			position:relative;
			img{
				width:300px;
			}
			h3{
				font-weight:600;
				display:flex;
				align-items:center;
				span{
					i{
						color:#ADB5BD;
						margin-left:10px;
					}
				}
			}
			p{
				color:#ADB5BD;
				font-size:14px;
				font-weight:600;
			}
			h6{
				position:absolute;
				top:50px;
				right:40px;
				font-size:15px;
				color:$blue;
			}
			.login{
				.all_one{
					display:flex;
					justify-content:space-between;
					.box{
                        width:48%;
                        .any{
							color:red;
							font-size:14px;
							display:none;
						}
                        input{
                        	border-radius:1px;
                        	background:#EEF0F3;
                        	border:1px solid #ADB5BD;
                        	padding:10px;
                        	font-size:14px;
                        	&:focus{
                        		box-shadow:none;
                        	}
                        	&::placeholder{
                        		font-size:14px;
                        	}
                        }
                        label{
                        	font-weight:600;
                        }
                        .star{
                        	color:red;
                        }
					}
					.only{
						width:100%;
					}
				}
				.mistak{
				    @include breakpoints(mobile) {
				    	display:block;
				    }      
				    .zibra{
				    	&{
				    		 @include breakpoints(mobile) {
						    	width:100%;
						    }
				    	}
				    }
				}
			}
			.bottona{
				width:100%;
				text-align:right;
				margin-top:50px;
				.btn{
					background:$blue;
					color:white;
					border-radius: 1px;
					font-weight: 700;
					padding: 8px 40px;
					transition:0.1s;
					&:hover{
						background:#00BBFF;
					}
					&{
			    		 @include breakpoints(nokia) {
					    	width:100%;
					    }
			    	}
				}
			}
		}
	}
}


.fotter{
	background:#1F7AAE;
	padding-top:50px;
	padding-bottom:50px;
	display:flex;
	.bot{
		display:flex;
		justify-content:space-between;
		align-items:center;
		&{
    		 @include breakpoints(mobile) {
		    	display:block;
		    	text-align:center;
		    }
    	}
		p{
			font-size:15px;
			font-weight:600;
			color:white;
			margin-bottom:0;
			&{
    		 @include breakpoints(mobile) {
			    	margin-bottom:30px;
			    }
	    	}
		}
		.images{
			img{
				margin-left:20px;
				&{
	    		 @include breakpoints(mobile) {
				    	margin-left:0;
				    }
		    	}
			}
            &{
    		 @include breakpoints(mobile) {
			    	justify-content:space-between;
			    }
	    	}
		}
	}
}


.loading{
    display: flex;
    align-items:center;
    justify-content:center;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    right: 0;
    top:0;
    z-index: 10;
    background:rgba(252,252,252,0.9);
    .spinner-border{
        color:#00AAE7;
    }
}





/////========STAAAART____SMS========
.sms_end{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	bottom:0;
	display:flex;
	justify-content:center;
	align-items:center;
	.messag{
		width:400px;
		margin: 0 auto;
		border-radius:5px;
		&{
			@include breakpoints(mobile) {
				width:100%;
			}
		}
		.image-logo{
	       background:#002466;
	       width:100%;
	       height:80px;
	       display:flex;
	       justify-content:center;
	       align-items:center;
	       img{
	       	 width:100px;
	       }
		}
		.smock{
			margin-top:40px;
			img{
				width:120px;
			}
		}
		.dd{
		   padding:40px;
		   input{
		   	    border:2px solid #667790;
				height:60px;
				margin-top:10px;
				border-radius:1px;
				padding-left:30px;
				&:focus{
					box-shadow:none;
					border:2px solid #667790;
				}
		   }
		   .btn{
		   	   @include bottons;
		   	   background:$blue;
		   	   font-size:15px;
		   	   font-weight:600;
		   	   &:hover{
					background:#00BBFF;
				}
		    }
		}
		.foot{
			background:#002466;
	        width:100%;
	        height:15px;
		}
	}
}
/////========STAAAART____SMS========


//#######======STAAART SMS======#######\\
.modal-content{
	.modal-header{
		background:$yellow;
		img{
			width:100px;
			&.sfli{
				width:70px;
			}
		}
	}
	.modal-body{
		padding:0;
		.spinner-border{
	    	color:$yellow;
	    }
		.pp{
			padding:13px 0 10px 0;
		}
		.tato{
			background:#eee;
			padding:30px 30px 0 30px;
			&{
				@include breakpoints(small) {
					padding:30px 10px 0 10px;
				}
			}
			p{
		        font-size:13px;
		        font-weight:600;
		        margin-bottom:0;
			}
		}
		.content{
			padding-left:20px;
			display:flex;
			background:#eee;
			padding:10px 30px;
			&{
				@include breakpoints(small) {
					padding:10px;
				}
			}
			.left{
				span{
					margin-top:20px;
					display:block;
					font-size:13px;
					font-weight:700;
				}
				.osama{
					margin-top:25px;
				}
			}
			.right{
				margin-left:40px;
				input{
					&:focus{
						box-shadow:none;
					}
				}
				span{
					margin-top:20px;
					display:block;
					font-size:13px;
					font-weight:700;
		            color:rgba(0,0,0,0.6);
				}
				.erreur_sms{
					color:red;

				}
			}
		}
		.time{
			padding:0 30px 10px 30px;
			display:flex;
			align-items:center;
			background:#eee;
			&{
				@include breakpoints(small) {
					padding:0 10px 10px 10px;
				}
			}
			p{
		        font-size:13px;
		        font-weight:600;
		        margin-bottom:0;
			}
			span{
				margin-left:10px;
				font-size:14px;
				font-weight: 600;
				color:rgba(0,0,0,0.6);
			}
		}
		.botona{
			display:flex;
			justify-content:end;
			padding:10px 20px 10px 20px;
			.btn{
			    color: #fff;
			    background:red;
			    font-weight: 700;
			    text-align: center;
			    height: 44px;
			    font-size: 16px;
			    border-radius: 3px;
			    padding: 0 30px;
			    text-decoration: none;
			    vertical-align: middle;
			    cursor: pointer;
			    border: 0;
			}
		}
		.copirayt{
		    background:$yellow;
		    padding:10px;
			p{
				font-size:13px;
				color:black;
				font-weight:600;
				margin-bottom:0;
			}
		}
	}
}

//#######======ENNNND SMS======#######\\

